In [1]:
# ques 1:
l = ["yudhishter kumar",23.32,[23,21,3,True],("abc",23)]

In [2]:
l

['yudhishter kumar', 23.32, [23, 21, 3, True], ('abc', 23)]

In [10]:
# Ques 2

var1 = ''#string
var2 = '[ DS , ML , Python]'#string
var3 = [ 'DS' , 'ML' , 'Python' ]#list
var4 = 1#integer

In [11]:
type(var1)

str

In [12]:
type(var2)

str

In [13]:
type(var3)

list

In [15]:
type(var4)

int

In [16]:
# Ques 3:

In [17]:
2/3#to divide two numbers

0.6666666666666666

In [18]:
3%2# to find remainder

1

In [19]:
2**3#two to the power 2^3

8

In [21]:
4//3
# The division of operands where the result is the quotient in which
# the digits after the decimal point are removed. But if one of the operands is 
# negative, the result is floored , i.e., rounded away from zero (towards negative infinity)

1

In [27]:
# Ques 4. Create a list of length 10 of your choice containing multiple types of data. 
# Using for loop print the element and its data type.
l1 = [12,3,13,1,31,3,True,"abc",23.43,'a']

In [29]:
for i in l1:
    print(i)

12
3
13
1
31
3
True
abc
23.43
a

In [43]:
# Ques 5. Using a while loop, verify if the number A is purely divisible by number B and
# if so then how many times it can be divisible.
numA = 90
numB = 5
count = 0;
if numA%numB == 0:
    while numA%numB == 0:
            count+=1
            numA=numA/numB
    print("numA is divisible by numB by ")
    print(count)
    print("times")
else:
    print("numA is not divisible by numB")

numA is divisible by numB by
1
times

In [47]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition
# print if the element is divisible by 3 or not.
l3=[12,3,234,2,34,24,43,24,24,2,4,345,4,6,457,457,3,34,321,34,65,33,90,87,36]
for i in l3:
    if i%3==0:
        print(i)

12
3
234
24
24
24
345
6
3
321
33
90
87
36

In [48]:
# Ques 7. What do you understand about mutable and immutable data types?
# Give examples for both showing this property.
l5 = [2,3,4,"sudh",3.034,3+4j,True,34,4234]

In [51]:
l5[2] = "pwskills"
# list ismutable as we change data on their index

In [52]:
l5

[2, 3, 'pwskills', 'sudh', 3.034, (3+4j), True, 34, 4234]

In [53]:
s = "pwskills"

In [57]:
s[2] = 'm'
# string is immutable as we can't change data in their index

TypeError: 'str' object does not support item assignment