In [1]:
# Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
# 1) we comment code in python by putting hash(#) in front of line 
# 2) we comment using ''' ''' or '' ''

In [ ]:
# Q2. What are variables in Python? How do you declare and assign
# values to variables?
# variable is a container which stores data

In [3]:
# Q3. How do you convert one data type to another in Python?
# we convert one datatype to anothe by typecast it
a=90.34
b = int(a)

In [4]:
b

90

In [5]:
# in this we typecast float to int by losing value after point

In [6]:
# Q4. How do you write and execute a Python script from the command line?

In [ ]:
'''To write and execute a Python script from the command line, follow these steps:

1. Open a text editor and create a new file with a .py extension. For example, you can 
use script.py.

2. Write your Python code in the script file using the text editor. For example, you can
write a simple "Hello, World!" program:

3. Save the script file after writing the code.

4. Open a command-line interface such as the Terminal (Mac/Linux) or Command Prompt (Windows).

5. Navigate to the directory where the script file is located using the cd command.

6. Once you are in the correct directory, you can execute the Python script by typing
python followed by the script's filename. For example:

   python script.py
  

7. Press Enter to run the command. The Python interpreter will execute the script, 
and you should see the output in the command-line interface.'''

In [ ]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice
# the list and obtain the sub-list [2, 3].

In [7]:
my_list = [1, 2, 3, 4, 5]

In [8]:
my_list[1:3]

[2, 3]

In [9]:
# Q6. What is a complex number in mathematics, and how is it represented in Python?

In [10]:
# complex number is number which have real and imaginary part in maths
# imaginary part is represented by iota(i) but in python same is represented by j

In [1]:
# in maths ----> 5+9i
# in python--->
m = 4+9j

In [2]:
m

(4+9j)

In [3]:
m.real

4.0

In [4]:
m.imag

9.0

In [5]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [6]:
age = 25

In [7]:
age

25

In [8]:
# Q8. Declare a variable named price and assign the value 9.99 to it.
# What data type does this variable belong to?

In [9]:
price = 9.99
type(price)

float

In [10]:
# we clearly see this is float type variable bcz the price is in decimal form

In [11]:
# Q9. Create a variable named name and assign your full name to it as a string. 
# How would you print the value of this variable?

In [12]:
name = "Yudhishter Kumar"

In [13]:
# we print this using loop or direct

In [14]:
# 1)
name

'Yudhishter Kumar'

In [16]:
for i in name:
    print(i)

Y
u
d
h
i
s
h
t
e
r

K
u
m
a
r

In [17]:
# Q10. Given the string "Hello, World!", extract the substring "World".

In [23]:
s = "Hello, World!"
s[7:-1]

'World'

In [25]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating
# whether you are currently a student or not.

In [30]:
is_student = int(input("enter price " ))

if is_student == 1:
    print("Yes i am a student")
else:
    print("i am not a student")

enter price  90

i am not a student