In [1]:
import pandas as pd

In [2]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
data = [4,8,15,16,23,42]
data_series = pd.Series(data)

In [3]:
print(data_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [5]:
data2=[1,2,3,4,5,6,7,8,9,98]
data2_ser = pd.Series(data2)

In [6]:
print(data2_ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    98
dtype: int64

In [7]:
# Q3 Create a Pandas DataFrame that contains the following data:
# Then, print the DataFrame.

In [10]:
# Sample dictionary data
data3_dict = {'Name':['Alice','bob','claire'],
              'Age':[25,30,27],
              'Gender':['Female','Male','Female']
                }

In [12]:
# Creating a DataFrame from the dictionary
data3_frame=pd.DataFrame(data3_dict)

In [13]:
print(data3_frame)

     Name  Age  Gender
0   Alice   25  Female
1     bob   30    Male
2  claire   27  Female

In [14]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [15]:
# In pandas, a DataFrame is a 2-dimensional labeled data structure that can hold data of different types (integers, strings, floats, etc.).
# It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame is a pandas Series,
# and the DataFrame provides a way to store and manipulate multiple Series together.
# A pandas Series is a 1-dimensional labeled array, as mentioned earlier, which is similar to a single column in a DataFrame. 
# It is capable of holding data of a single data type and is indexed, allowing for easy access and manipulation of data.

In [16]:
# Sample dictionary data for creating DataFrame
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 27],
    'City': ['New York', 'San Francisco', 'Chicago', 'Los Angeles']
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data_dict)

# Creating a Series
ages_series = pd.Series([25, 30, 22, 27], name='Age')

# Printing the DataFrame and the Series
print("DataFrame:")
print(df)
print("\nSeries:")
print(ages_series)

DataFrame:
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   22        Chicago
3    David   27    Los Angeles

Series:
0    25
1    30
2    22
3    27
Name: Age, dtype: int64

In [17]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

In [18]:
import pandas as pd


data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 22, 27, 35],
    'Department': ['HR', 'IT', 'IT', 'Finance', 'HR'],
    'Salary': [50000, 60000, 55000, 70000, 65000]
}

df = pd.DataFrame(data)

print(df.head(3))

print("\nLast 2 rows:")
print(df.tail(2))

print("\nSummary Information:")
df.info()

print("\nDescriptive Statistics:")
print(df.describe())

      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30         IT   60000
2  Charlie   22         IT   55000

Last 2 rows:
    Name  Age Department  Salary
3  David   27    Finance   70000
4   Emma   35         HR   65000

Summary Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Age         5 non-null      int64
 2   Department  5 non-null      object
 3   Salary      5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

Descriptive Statistics:
             Age       Salary
count   5.000000      5.00000
mean   27.800000  60000.00000
std     4.969909   7905.69415
min    22.000000  50000.00000
25%    25.000000  55000.00000
50%    27.000000  60000.00000
75%    30.000000  65000.00000
max    35.000000  70000.00000

In [19]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?


# In pandas, the DataFrame is mutable in nature, while the Series and Panel are immutable.

# 1. **Series**: A pandas Series is a one-dimensional labeled array and is immutable. Once a Series is created, you cannot modify
# its size or change the elements directly. You can, however, create a new Series by modifying the existing one.

# 2. **DataFrame**: A pandas DataFrame is a two-dimensional labeled data structure, similar to a table or spreadsheet. 
# It is mutable, meaning you can add, remove, or modify columns and rows. You can change the values in the DataFrame directly,
# and the size and structure of the DataFrame can be modified after creation.

# 3. **Panel**: A pandas Panel is a three-dimensional labeled data structure. However, as of pandas version 0.25.0, the Panel has been 
# deprecated and is no longer actively developed. Instead, you are encouraged to use the more flexible multi-indexing features of DataFrames to handle higher-dimensional data.

# Since Series is immutable and DataFrame is mutable, the correct answer to the question is:

# **Mutable in nature: DataFrame**

In [20]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.


employee_names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emma'])
employee_age = pd.Series([25, 30, 22, 27, 35])
employee_department = pd.Series(['HR', 'IT', 'IT', 'Finance', 'HR'])
employee_salary = pd.Series([50000, 60000, 55000, 70000, 65000])

# Creating a DataFrame using the Series
data = {
    'Name': employee_names,
    'Age': employee_age,
    'Department': employee_department,
    'Salary': employee_salary
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age Department  Salary
0    Alice   25         HR   50000
1      Bob   30         IT   60000
2  Charlie   22         IT   55000
3    David   27    Finance   70000
4     Emma   35         HR   65000

In [ ]:

employee_names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Emma'],name='fasd')
employee_age = pd.Series([25, 30, 22, 27, 35],name='ffqw')
employee_department = pd.Series(['HR', 'IT', 'IT', 'Finance', 'HR'],name='dfew')
employee_salary = pd.Series([50000, 60000, 55000, 70000, 65000],name)

# Creating a DataFrame using the Series
data = {
    'Name': employee_names,
    'Age': employee_age,
    'Department': employee_department,
    'Salary': employee_salary
}

df = pd.DataFrame(data)

# Printing the DataFrame
print(df)